.contact-main-section {
  background: #393e46;
  color: "white";
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-main {
  max-width: 1200px;
}

.contact-me-title {
  font-weight: 500;
  font-size: 36px;
  font-style: normal;
}

.contact-container-card {
  background-color: white;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-left: 4rem;
  margin-right: auto;
  color: black;
}

/* Style inputs */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: Poppins, sans-serif;
  font-size: 18px;
}

.contact-outer-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-details {
  width: 50%;
  margin-right: 4rem;
}

.form {
  margin: 2rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.contact-image {
  max-width: 400px;
  width: auto;
  height: auto;
}
