.copyright {
  text-align: center;
  font-size: 13px;
}

.social {
  font-size: 20px;
  text-align: center;

  color: white;
}

.social a {
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  margin-top: 1rem;
}

.social a:hover {
  color: #d65a31;
  transition: ease 0.5s;
}
