.home-main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.home-profile {
  display: flex;
}

.home-image {
  width: 370px;
  height: 450px;
  transform: translate(5%, -5%);
  filter: grayscale(100%);
  transition: 0.5s ease;
}

.home-image:hover {
  filter: grayscale(0%);
  transition: 0.5s ease;
  transform: translate(10%, -10%);
}

.img-wrapper {
  width: auto;
  height: auto;
  border: 3px solid #d65a31;
}

.home-main-section .call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5rem;
}

.title {
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 1rem;
  margin-top: 0;
}

.name {
  color: #d65a31;
}

.subtitle {
  font-weight: 500;
  font-size: 26px;
  margin-bottom: 2rem;
}
/* .home-main-section .profile-image {
  background-image: url(./images/Home-page-picture.png);
  flex-grow: 1;
  max-height: 70vh;
  min-width: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
} */

@media (max-width: 400px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .home-profile {
    display: block;
    margin-top: 4rem;
  }
  .img-wrapper {
    max-width: 240px;
    border: 3px solid #d65a31;
    margin-left: 70px;
  }
  .home-main-section .call-to-action {
    margin-top: 30px;
  }
  .home-image {
    width: 240px;
    height: 300px;
  }
  .title {
    font-size: 26px;
  }
  .subtitle {
    font-size: 20px;
  }
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
