@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background-color: #222831;
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  color: white;
  min-height: 100vh;
}

.full-height-grow {
  display: flex;
  flex-direction: column;
}

.home {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.main-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav a {
  color: inherit;
  text-decoration: none;
  padding: 1rem;
}

.main-nav a:hover {
  color: #d65a31;
}

.main-nav a:active {
  color: #d65a31;
}

.main-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: #f0f8ff;
  padding: 10px 0px 10px 0px;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.fwh-slide {
  height: 100vh;
}
