.project-content-section {
  display: flex;
  padding-top: 100px;
  justify-content: center;
  min-height: 100vh;
}

.project-content-section h1 {
  font-weight: 500;
  font-size: 30px;
}

.project-content-section h3 {
  font-weight: 400;
  font-size: 24px;
}

.project-content-section p {
  font-size: 16px;
}

.project-box-layout {
  max-width: 1200px;
  padding: 10px;
}

.big-image {
  max-height: 500px;
  max-width: 500px;
}
